body,
html {
    height: 100%;
    margin: 0;
    color: white;
}

body {
    --palette-light-blue: hsla(196, 82%, 53%, 1);
    --palette-dark-blue: hsla(214, 95%, 43%, 1);
    --palette-yellow: hsla(53, 76%, 49%, 1);
    --palette-green: hsla(76, 60%, 61%, 1);

    --main-gradient: linear-gradient(
        75deg,
        var(--palette-light-blue) 0%,
        var(--palette-dark-blue) 31%,
        var(--palette-yellow) 91%,
        /* Remove this color to return to previous gradient*/
            var(--palette-green) 100%
    );
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(
        45deg,
        var(--palette-light-blue) 0%,
        var(--palette-dark-blue) 36%,
        var(--palette-green) 100%
    );
    opacity: 0.2;
    border-radius: 0.1em;
}

body::-webkit-scrollbar-track {
    background: hsl(0, 0%, 9%);
    box-shadow: 0 0 5px hsl(0, 0%, 9%);
}
body::-webkit-scrollbar {
    width: 0.35em;
    max-height: 10px;
}

.bg {
    /* The image used */
    z-index: -1;
    background-image: url("./images/Background.png");
    position: fixed;
    width: 100%;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.root {
    display: flex;
}

.content {
    z-index: 10;
}
.wallet-container {
    display: flex;
    text-align: right;

    padding-right: 1em;
    padding-top: 1em;
}

.wallet-container .wallet-info {
    margin-left: auto;
}

.wallet-container .chain {
    display: inline-block;
    font-size: 1.2em;
    padding: 10px;
}

.wallet-container button {
    cursor: pointer;
    font-size: 1em;
    color: white;
    padding: 10px;

    background-color: black;
}

.wallet-container .button-wrapper {
    display: inline-block;
}

.flex-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2em;
}

.details-container {
    right: 2em;
    text-align: center;
}

.details-container a {
    color: white;
}

.presale-container {
    min-width: 600px;
    text-align: center;
    padding: 1em;
}

.presale-container .presale-tokens select {
    font-size: 1.3rem;
}

@media screen and (max-width: 500px) {
    .presale-container {
        min-width: 0;
    }
}

.presale-container > * {
    margin-top: 1em;
}

.presale-container .presale-balance {
    margin: 0.5em;
}

.presale-container input,
.presale-container select {
    background: black;
    color: white;
    border: none;
    font-size: 1.5em;
    margin: 0.5em;
}

.presale-container input:focus,
.presale-container select:focus {
    border: none;
    outline: none;
}

.presale-container .inline {
    display: inline-block;
}

.presale-container .presale-balance {
    opacity: 0.5;
}

.presale-container .presale-balance span {
    font-weight: bold;
}

.presale-container button {
    padding: 0.8em 1em;
    background: var(--main-gradient);
    border: none;
    border-radius: 0.6em;
    color: black;
    letter-spacing: 0.03em;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;

    transition: outline 0.4s ease-in-out, color 0.4s ease-in-out,
        filter 0.4s ease-in-out, transform 0.1s ease-in-out;
    outline: solid hsla(0, 0%, 100%, 0);
}

.presale-container button:hover {
    outline: solid white;
    color: white;
    filter: drop-shadow(0 0 0.2rem white);
}

.presale-container button:active {
    transform: scale(0.85);
}

.presale-container .running {
    background: grey !important;
}

.presale-container .presale-output .presale-output-amount {
    font-size: 2em;
    margin-bottom: 1em;
}

.presale-container .presale-output span {
    font-weight: bold;
    position: relative;
}

.presale-container .presale-output span::after {
    content: "";
    position: absolute;
    bottom: -11%;
    left: 0;
    background: var(--main-gradient);
    border-radius: 1em;
    height: 0.3rem;
    width: 100%;
}

.raised-container {
    margin: 2em auto;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.raised-container .raised-details-title {
    padding: 5px;
    font-weight: normal;
    font-size: 0.9em;
    cursor: pointer;
    text-decoration: underline;
}

.raised-container .raised-details {
    display: none;
    font-size: 0.8em;
    font-weight: normal;
    padding: 5px;
}

.title {
    background-image: url("./images/title.png");
    height: 200px;
    margin-bottom: 3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

hr {
    background: var(--main-gradient);
    height: 3px;
    border: none;
}

.border-outer {
    padding: 3px;
    background-color: rgb(42, 199, 237);
    background-image: var(--main-gradient);
    border-radius: 0.8rem;
}

.border-inner {
    border-radius: 0.8rem;
    border: none;
    background: black;
}

.text-center {
    text-align: center;
}

.show {
    display: block !important;
}

/*

*/
