@font-face {
    font-family: "Athletics";
    font-weight: normal;
    src: local("athletics"),
        url(./fonts/Athletics-Regular.otf) format("opentype");
}
@font-face {
    font-family: "Athletics";
    font-weight: bold;
    src: local("athletics"), url(./fonts/Athletics-Bold.otf) format("opentype");
}

body,
html {
    height: 100%;
    margin: 0;
    color: var(--palette-white);
}

body {
    --palette-light-blue: hsla(196, 82%, 53%, 1);
    --palette-dark-blue: hsla(214, 95%, 43%, 1);
    --palette-yellow: hsla(53, 76%, 49%, 1);
    --palette-green: hsla(76, 60%, 61%, 1);
    --palette-white: hsla(0, 0%, 94%, 1);
    --palette-black: hsla(0, 0%, 5%, 1);

    --main-gradient: linear-gradient(
        75deg,
        var(--palette-light-blue) 0%,
        var(--palette-dark-blue) 31%,
        var(--palette-yellow) 91%,
        /* Remove this color to return to previous gradient*/
            var(--palette-green) 100%
    );

    font-family: "Athletics", sans-serif;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(
        45deg,
        var(--palette-light-blue) 0%,
        var(--palette-dark-blue) 36%,
        var(--palette-green) 100%
    );
    opacity: 0.2;
    border-radius: 0.1em;
}

body::-webkit-scrollbar-track {
    background: hsl(0, 0%, 9%);
    box-shadow: 0 0 5px hsl(0, 0%, 9%);
}
body::-webkit-scrollbar {
    width: 0.35em;
    max-height: 10px;
}

.bg {
    /* The image used */
    z-index: -1;
    background-image: url("./images/Background.png");
    position: fixed;
    width: 100%;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.root {
    display: flex;
}

.content {
    z-index: 10;
}
.wallet-container {
    display: flex;
    text-align: right;

    padding-right: 1em;
    padding-top: 1em;
}

.wallet-container .wallet-info {
    margin-left: auto;
}

.wallet-container .chain {
    display: inline-block;
    font-size: 1.2em;
    padding: 10px;
}

.wallet-container button {
    cursor: pointer;
    font-size: 1em;
    color: var(--palette-white);
    padding: 10px;

    background-color: var(--palette-black);
}

.wallet-container .button-wrapper {
    display: inline-block;
}

.flex-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2em;
}

.details-container {
    right: 2em;
    text-align: center;
    min-width: 20vw;
}

.details-container h2 {
    margin: 0;
}

.details-container a {
    color: var(--palette-white);
}

.details-container ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.details-container li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-bottom: 0.1em;
    gap: 3rem;
}

.details-container li span {
    font-weight: bold;
    opacity: 0.9;
}
.details-container li::after {
    content: "";
    position: absolute;
    bottom: -13%;
    left: 0;
    background: var(--palette-white);
    height: 1px;
    width: 100%;
    opacity: 0.1;
}

.details-vesting h3 {
    font-size: 1.25em;
    margin: 1rem 0 0.5rem 0;
}

.presale-container {
    min-width: 600px;
    text-align: center;
    padding: 1em;
}

.presale-container .presale-tokens select {
    font-size: 1.3rem;
    cursor: pointer;
}

.presale-container > * {
    margin-top: 1em;
}

.presale-container .presale-balance {
    margin: 0.5em;
}

.presale-container input,
.presale-container select {
    background: var(--palette-black);
    color: var(--palette-white);
    border: none;
    font-size: 1.5em;
    margin: 0.5em;
}

.presale-container input:focus,
.presale-container select:focus {
    border: none;
    outline: none;
}

.presale-container .inline {
    display: inline-block;
}

.presale-container .presale-balance {
    opacity: 0.5;
}

.presale-container .presale-balance span {
    font-weight: bold;
}

.presale-container button {
    padding: 0.8em 1em;
    background: var(--main-gradient);
    border: none;
    border-radius: 0.6em;
    color: var(--palette-black);
    letter-spacing: 0.03em;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;

    transition: outline 0.4s ease-in-out, color 0.4s ease-in-out,
        filter 0.4s ease-in-out, transform 0.1s ease-in-out;
    outline: solid hsla(0, 0%, 100%, 0);
}

.presale-container button:hover {
    outline: solid var(--palette-white);
    color: var(--palette-white);
    filter: drop-shadow(0 0 0.2rem var(--palette-white));
}

.presale-container button:active {
    transform: scale(0.85);
}

.presale-container .running {
    background: grey !important;
}

.presale-container .presale-output .presale-output-amount {
    font-size: 2em;
    margin-bottom: 1em;
}

.presale-container .presale-output span {
    font-weight: bold;
    position: relative;
}

.presale-container .presale-output span::after {
    content: "";
    position: absolute;
    bottom: -11%;
    left: 0;
    background: var(--main-gradient);
    border-radius: 1em;
    height: 0.3rem;
    width: 100%;
}

.raised-container {
    margin: 2em auto;
    text-align: center;
    font-size: 2em;
}

.raised-container .raised-title {
    margin-bottom: 0.5em;
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.raised-container .raised-title::after {
    content: "";
    position: absolute;
    bottom: -13%;
    left: 0;
    background: var(--main-gradient);
    height: 4px;
    width: 100%;
    border-radius: 0.5em;
}

.raised-container .raised-amounts {
    font-size: max(8vh, 4vw);
    text-shadow: 0 0 0.1em var(--palette-black);
}

.raised-container .raised-total {
    font-weight: bold;
    color: var(--palette-dark-blue);
}

.raised-container .raised-details-title {
    font-weight: normal;
    font-size: 0.9em;
    cursor: pointer;
    text-decoration: underline;
    background: linear-gradient(
        180deg,
        hsla(0, 0%, 0%, 0) 30%,
        hsla(0, 0%, 0%, 1)
    );
    transition: 0.2s ease-in-out;
}

.raised-container .raised-details-title.show {
    background: linear-gradient(
        180deg,
        hsla(0, 0%, 0%, 0) 30%,
        hsla(0, 0%, 0%, 0)
    );
}

.raised-container .raised-details-title:hover {
    transform: scaleY(1.1);
    transform-origin: bottom;
}

.raised-details-title * {
    height: 5rem;
    width: 5rem;
}

.raised-container .raised-details {
    display: none;
    font-size: 0.85em;
    font-weight: normal;
    padding: 5px;
}

.raised-details.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.raised-details.show ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.3rem;
    max-width: 30%;
}

.raised-details.show li {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.1em;
    gap: 6rem;
    font-weight: bold;
}

.raised-details.show li a {
    color: rgb(206, 206, 206);
}

.raised-details.show li a:hover {
  color: white;
}

.raised-details.show li *:last-child {
    text-align: right;
    font-weight: normal;
    font-size: 0.7em;
}

/* Use this if removing the ProgressBar indicator from the contribution list */
/* .raised-details.show li::after {
    content: "";
    position: absolute;
    bottom: -13%;
    left: 0;
    background: var(--palette-white);
    height: 1px;
    width: 100%;
    opacity: 0.1;
} */

.raised-details.show li .progress-bar {
    position: absolute;
    bottom: -5%;
    left: 0;
    background: var(--main-gradient);
    height: 4px;
    border-radius: 1em;
    width: 2%;
    max-width: 100%;
}

.title {
    background-image: url("./images/title.png");
    height: 200px;
    margin-bottom: 3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

hr {
    background: var(--main-gradient);
    height: 2px;
    border: none;
}

.border-outer {
    padding: 2px;
    background-color: rgb(42, 199, 237);
    background-image: var(--main-gradient);
    border-radius: 0.8rem;
}

.border-inner {
    border-radius: 0.8rem;
    border: none;
    background: var(--palette-black);
}

.text-center {
    text-align: center;
}

@media screen and (max-width: 670px) {
    .presale-container {
        min-width: 0;
    }
}
@media screen and (max-width: 1150px) {
    .raised-details.show ul {
        max-width: 85%;
    }
}

/*

*/
